/* small device upto 576px
large device above 993px*/
@media screen and (max-width:576px) {
    .ham-burger{
        display: block;
        font-size: 2rem;
}
.nav-items{
    display: none;
}
.nav-bar{
    justify-content:space-between;
    padding: 20px;
}
.banner{
    flex-direction: column;
    padding: 0px 10px;
}
.banner-title{
    font-size: 3.5rem;
}
.banner-left{
    width: 100%;
}
.banner-right-img{
    text-align: center;
}
.free-workout-videos{
    top: 10%;
    right: 5%;
}
.video-tutorial{
    top: 50%;
    left: 10%;
}
.banner-btn{
    text-align: center;
    display: flex;
    justify-content: center;
}
.hidden{
    display: none;
}
.habits-boxes{
    grid-template-columns: repeat(1, 1fr);
}
.habits{
    padding: 0px 10px;
}
.main-run-extra{
    padding: 0px 10px;
}
.run-extra{
    flex-direction: column;
    padding: 30px 30px;
    align-items: center;
}
.run-extra-img-content{
    padding: 0px 15px;
}
.run-extra img{
    transform: scale(1);
    object-fit: cover;
}










}