/* small device upto 576px
large device above 993px*/
@media screen and (max-width:576px) {
    .ham-burger{
        display: block;
        font-size: 2rem;
}
.nav-items{
    display: none;
}
.nav-bar{
    justify-content:space-between;
    padding: 20px;
}
.banner{
    flex-direction: column;
    padding: 0px 10px;
}
.banner-title{
    font-size: 3.5rem;
    line-height: 120%;
}
.banner-left{
    width: 100%;
}
.banner-right-img{
    text-align: center;
}
.free-workout-videos{
    top: 10%;
    right: 5%;
}
.video-tutorial{
    top: 50%;
    left: 10%;
}
.banner-btn{
    text-align: center;
    display: flex;
    justify-content: center;
}
.hidden{
    display: none;
}
.habits-boxes{
    grid-template-columns: repeat(1, 1fr);
}
.habits{
    padding: 0px 10px;
}
.main-run-extra{
    padding: 0px 10px;
}
.run-extra{
    flex-direction: column;
    padding: 30px 30px;
    align-items: center;
}
.run-extra-img-content{
    padding: 0px 15px;
}
.run-extra img{
    transform: scale(1);
    object-fit: cover;
}
.meet-team-container{
    padding: 0px 10px;
}
.meet-team-people{
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-columns: repeat(1, 1fr);
}
.meet-team-people img{
    height: auto;
    filter: brightness(90%);
    /* transform: scale(1.1); */
}
.person-2{
    order: 1S;
}
.person-5{
    order: 2;
}
.person-3 img{
    transform: scale(1.1);
}
.person-3{
    order: 3;
}
.person-6{
    order: 4;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
    gap: 20px;
}
.footer{
    padding: 0px 10px;
}









}