@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: #111111;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}
/* semibold=500 
extrabold=900
font-18px=1.12rem*/

.container{
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 2px solid green;
}
.uni-pad{
    padding: 0px 190px;
}
.uni-p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}
.uni-h1{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    margin-bottom: 15px;
    /* line-height: 120%; */
}
.btn-primary{
    background-color: #E6533C;
    border: none;
    color: white;
    border-radius: 42px;
    padding: 16px 46px;
    font-size: 1.12rem;
    font-weight: 500;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 190px;
    align-items: center;
}
.ham-burger{
    display: none;
}
.nav-items ul{
    display: flex;
    gap: 47px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 2px;
    border-radius: 46px;
}
.nav-items li{
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    color: white;
    font-size: 1.12rem;
}
.nav-span{
    background-color: #E6533C;
    font-weight: 500;
    border-radius: 46px;
    padding: 8px 20px;
}
.brand h1{
    color: #E6533C;
    font-weight: 900;
    font-size: 3.25rem;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-left{
    display: grid;
    align-content: center;
    width: 50%;
}
.banner-span{
    font-family: "Aguafina Script", cursive;
    font-weight: 200;
}
.banner-title{
    font-size: 4.8rem;
    margin-bottom: 28px;
    line-height: 120%;
    /* letter-spacing: 0%; */
}
.banner-btn{
    margin-top: 28px;
}
.btn-sec{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 42px;
    padding: 16px 46px;
    font-size: 1.12rem;
    font-weight: 500;
    margin-left: 14px;
}
.banner-right-img{
    position: relative;
}
.free-workout-videos{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    padding: 10px;
    position: absolute;
    top: 28%;
    right: -20%;
}
.free-workout-videos h2{
    font-size: 2.5rem;
    margin-bottom: 2px;
}
.video-tutorial{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    padding: 10px;
    position: absolute;
    top: 80%;
    right: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.video-tutorial h2{
    font-size: 1.5rem;
    margin-bottom: 2px;
}
.circle{
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
}
.habits h1{
    text-align: center;
}
.habits p{
    text-align: center;
}
.habits-boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    align-content: space-around;
    margin-top: 58px;
    /* justify-items: center; */
}
.box-1{
    display: grid;
    justify-items: center;
    gap: 10px;
}
.box-1 h6{
    font-size: 1.2rem;
}
.box-1 img{
    border-radius: 50%;
}
.box-2{
    display: grid;
    justify-items: center;
    gap: 10px;
}
.box-2 h6{
    font-size: 1.2rem;
}
.box-2 img{
    border-radius: 50%;
}
.box-3{
    display: grid;
    justify-items: center;
    gap: 10px;
}
.box-3 h6{
    font-size: 1.2rem;
}
.box-3 img{
    border-radius: 50%;
}
.box-4{
    display: grid;
    justify-items: center;
    gap: 10px;
}
.box-4 h6{
    font-size: 1.2rem;
}
.box-4 img{
    border-radius: 50%;
}
.run-extra{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    background-color: #222222;
    border-radius: 15px;
    align-items: center;
    padding-left: 54px;
}
.run-extra img{
    width: 366px;
    height: 312px;
    object-fit: contain;
    transform: scale(3.5) translate(-15%, 10%);
}
.run-extra-img{
    display: inline-block;
    overflow: hidden;
    border-radius: 18px;
}
.run-extra-img-content{
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.meet-team-title{
    text-align: center;
    margin-bottom: 58px;
}
.meet-team-people{
    padding: 20px;
    background-color: #222222;
    border-radius: 15px;
    display: grid;
    gap: 20px;
    /* justify-items: center; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    overflow: hidden;
}
.meet-team-people h6{
    font-size: 1.2rem;    
}
.meet-team-people img{
    height: 272px;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
    filter: brightness(70%);
}
.person-1, .person-2, .person-3, .person-4, .person-5, .person-6{
    /* transform: scale(1.1); */
    overflow: hidden;
    position: relative;
    /* padding: 30px; */
    border-radius: 10px;
}
.name-1, .name-2, .name-3, .name-4, .name-5, .name-6{
    position: absolute;
    top: 80%;
    left: 5%;
}
